# Baseball Stadium Data Project

This project aims to combine data from Baseball-reference.com on baseball team statistics from the 2017 season with data from an ESPN health code violation study, compilation of review scores from Google and Yelp done by ReviewTrackers.com on baseball stadiums, and average monthly temperature and precipitation through the 2017 season. This notebook will go through the process of combining all of those datasets and how these datasets relate to one another.

### ESPN

The first dataset is taken from a study ESPN did looking at health code violations for all 30 stadiums. This data provides a good point of comparison when paired next to the review score data shown later. It's first in this notebook because it contains things like the team name, stadium, and location that will make adding and combining other datasets together easier.

In [42]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [43]:
ESPN_data = '1-ESPN-health-data/ESPN_stadium_violations.CSV'

In [44]:
ESPN = pd.read_csv(ESPN_data)

In [45]:
ESPN

,Team,Stadium,Seating Capacity,Location,State Abbreviation,Venue Score,Area Score,Total Inspections,Critical Inspections Found,Critical Score in percentage
0,Diamondbacks,Chase Field,48519,"Phoenix, Arizona",AZ,0.20,0.25,96,33,34.38
1,Padres,Petco Park,40162,"San Diego, California",CA,0.09,0.09,168,28,16.67
2,Angels,Angel Stadium,45050,"Anaheim, California",CA,0.17,0.46,134,26,19.40
3,Athletics,Oakland-Alameda County Coliseum,63024,"Oakland, California",CA,0.18,1.32,119,27,22.69
4,Giants,AT&T Park,41915,"San Francisco, California",CA,0.10,0.25,162,40,24.69
5,Dodgers,Dodger Stadium,56000,"Los Angeles, California",CA,0.29,0.96,191,61,31.94
6,Rockies,Coors Field,50144,"Denver, Colorado",CO,1.14,1.50,107,77,71.96
7,Nationals,Nationals Park,41546,"Washington, District of Columbia",DC,0.28,0.00,27,14,51.85
8,Marlins,Marlins Park,37442,"Miami, Florida",FL,0.13,1.07,21,3,14.29
9,Rays,Tropicana Field,31042,"Tampa, Florida",FL,0.40,1.07,79,25,31.65
10,Braves,SunTrust Park,41149,"Atlanta, Georgia",GA,0.34,0.78,83,28,33.73
11,Cubs,Wrigley Field,42495,"Chicago, Illinois",IL,0.31,0.20,26,8,30.77
12,White Sox,Guaranteed Rate Field,40615,"Chicago, Illinois",IL,0.57,0.20,68,38,55.88
13,Red Sox,Fenway Park,37755,"Boston, Massachusetts",MA,0.09,0.62,58,10,17.24
14,Orioles,Oriole Park at Camden Yards,45971,"Baltimore, Maryland",MD,0.10,0.55,96,15,15.63
15,Tigers,Comerica Park,41083,"Detroit, Michigan",MI,0.53,0.70,52,21,40.38
16,Twins,Target Field,39504,"Minneapolis, Minnesota",MN,0.61,0.00,113,57,50.44
17,Cardinals,Busch Stadium,43975,"St. Louis, Missouri",MO,0.17,0.39,62,14,22.58
18,Royals,Kauffman Stadium,37903,"Kansas City, Missouri",MO,0.56,1.36,106,44,41.51
19,Mets,Citi Field,41922,"Queens, New York",NY,0.35,1.47,58,32,55.17
20,Yankees,Yankee Stadium,56886,"Bronx, New York",NY,0.67,1.47,43,34,79.07
21,Indians,Progressive Field,35041,"Cleveland, Ohio",OH,0.04,0.00,133,12,9.02
22,Reds,Great American Ball Park,42036,"Cincinnati, Ohio",OH,0.20,0.00,52,26,50.00
23,Blue Jays,Rogers Centre,49282,"Toronto, Ontario",ON,0.21,0.44,63,31,49.21
24,Pirates,PNC Park,38496,"Pittsburgh, Pennsylvania",PA,0.20,0.98,65,18,27.69
25,Phillies,Citizens Bank Park,43651,"Philadelphia, Pennsylvania",PA,0.35,0.00,101,43,42.57
26,Astros,Minute Maid Park,40963,"Houston, Texas",TX,0.19,1.28,70,20,28.57
27,Rangers,Globe Life Park in Arlington,48114,"Arlington, Texas",TX,1.22,0.00,156,111,71.15
28,Mariners,Safeco Field,47943,"Seattle, Washington",WA,0.10,0.66,92,20,21.74
29,Brewers,Miller Park,41900,"Milwaukee, Wisconsin",WI,0.10,0.42,115,10,8.70

There are a total of 11 different columns in this dataset, and the critical score in percentage is an equation that's based on the venue score, area score, and total inspections numbers.

In [46]:
ESPN.columns

Index(['Team', 'Stadium', 'Seating Capacity', 'Location', 'State Abbreviation',
       'Venue Score', 'Area Score', 'Total Inspections',
       'Critical Inspections Found', 'Critical Score in percentage'],
      dtype='object')

#### Extracting necessary data out of the ESPN CSV

For the purpose of my final dataset, I want the Critical Score in percentage, since it is a result of total inspections divided by the number of critical inspections found. I also wanted the team names and stadium names. The location will be the most important column in this dataset when it comes to corss-referencing and combining in other datasets that have a similar City, State phrasing.

In [47]:
ESPN_df = ESPN[['Team', 'Stadium', 'Seating Capacity', 'Location', 'Critical Score in percentage']]

In [48]:
ESPN_df

,Team,Stadium,Seating Capacity,Location,Critical Score in percentage
0,Diamondbacks,Chase Field,48519,"Phoenix, Arizona",34.38
1,Padres,Petco Park,40162,"San Diego, California",16.67
2,Angels,Angel Stadium,45050,"Anaheim, California",19.40
3,Athletics,Oakland-Alameda County Coliseum,63024,"Oakland, California",22.69
4,Giants,AT&T Park,41915,"San Francisco, California",24.69
5,Dodgers,Dodger Stadium,56000,"Los Angeles, California",31.94
6,Rockies,Coors Field,50144,"Denver, Colorado",71.96
7,Nationals,Nationals Park,41546,"Washington, District of Columbia",51.85
8,Marlins,Marlins Park,37442,"Miami, Florida",14.29
9,Rays,Tropicana Field,31042,"Tampa, Florida",31.65
10,Braves,SunTrust Park,41149,"Atlanta, Georgia",33.73
11,Cubs,Wrigley Field,42495,"Chicago, Illinois",30.77
12,White Sox,Guaranteed Rate Field,40615,"Chicago, Illinois",55.88
13,Red Sox,Fenway Park,37755,"Boston, Massachusetts",17.24
14,Orioles,Oriole Park at Camden Yards,45971,"Baltimore, Maryland",15.63
15,Tigers,Comerica Park,41083,"Detroit, Michigan",40.38
16,Twins,Target Field,39504,"Minneapolis, Minnesota",50.44
17,Cardinals,Busch Stadium,43975,"St. Louis, Missouri",22.58
18,Royals,Kauffman Stadium,37903,"Kansas City, Missouri",41.51
19,Mets,Citi Field,41922,"Queens, New York",55.17
20,Yankees,Yankee Stadium,56886,"Bronx, New York",79.07
21,Indians,Progressive Field,35041,"Cleveland, Ohio",9.02
22,Reds,Great American Ball Park,42036,"Cincinnati, Ohio",50.00
23,Blue Jays,Rogers Centre,49282,"Toronto, Ontario",49.21
24,Pirates,PNC Park,38496,"Pittsburgh, Pennsylvania",27.69
25,Phillies,Citizens Bank Park,43651,"Philadelphia, Pennsylvania",42.57
26,Astros,Minute Maid Park,40963,"Houston, Texas",28.57
27,Rangers,Globe Life Park in Arlington,48114,"Arlington, Texas",71.15
28,Mariners,Safeco Field,47943,"Seattle, Washington",21.74
29,Brewers,Miller Park,41900,"Milwaukee, Wisconsin",8.70

### Stadium and Team Stats from Baseball-reference.com

Baseball-reference.com has baseball stats for just about any kind of stat you throw at it, and this dataset is a full list of team stats and records for the 2017 season. It ranks them by best record to worst record in this dataset but won't entirely be necessary when combining this data with attendance data. I grabbed other statistics like the W-L% and Run Differential for any other kind of further analysis to be done, but for the purposes of our final dataset they are not totally necessary.

In [49]:
team_stats = '3-Baseball-reference-team-data/Team_stats_2017.CSV'

In [50]:
stats = pd.read_csv(team_stats)

In [51]:
stats

,Rk,Team,Lg,G,W,L,W-L%,R,RA,Rdiff,Home,Road
0,1.0,Dodgers,NL,162.0,104,58,0.642,4.8,3.6,1.2,57-24,47-34
1,2.0,Indians,AL,162.0,102,60,0.630,5.0,3.5,1.6,49-32,53-28
2,3.0,Astros,AL,162.0,101,61,0.624,5.5,4.3,1.2,48-33,53-28
3,4.0,Nationals,NL,162.0,97,65,0.599,5.1,4.1,0.9,47-34,50-31
4,5.0,Red Sox,AL,162.0,93,69,0.574,4.8,4.1,0.7,48-33,45-36
5,6.0,Diamondbacks,NL,162.0,93,69,0.574,5.0,4.1,0.9,52-29,41-40
6,7.0,Cubs,NL,162.0,92,70,0.568,5.1,4.3,0.8,48-33,44-37
7,8.0,Yankees,AL,162.0,91,71,0.562,5.3,4.1,1.2,51-30,40-41
8,9.0,Rockies,NL,162.0,87,75,0.537,5.1,4.7,0.4,46-35,41-40
9,10.0,Brewers,NL,162.0,86,76,0.531,4.5,4.3,0.2,46-38,40-38
10,11.0,Twins,AL,162.0,85,77,0.525,5.0,4.9,0.2,41-40,44-37
11,12.0,Cardinals,NL,162.0,83,79,0.512,4.7,4.4,0.3,44-37,39-42
12,13.0,Angels,AL,162.0,80,82,0.494,4.4,4.4,0.0,43-38,37-44
13,14.0,Royals,AL,162.0,80,82,0.494,4.3,4.9,-0.5,43-38,37-44
14,15.0,Rays,AL,162.0,80,82,0.494,4.3,4.3,-0.1,42-39,38-43
15,16.0,Mariners,AL,162.0,78,84,0.481,4.6,4.8,-0.1,40-41,38-43
16,17.0,Rangers,AL,162.0,78,84,0.481,4.9,5.0,-0.1,41-40,37-44
17,18.0,Marlins,NL,162.0,77,85,0.475,4.8,5.1,-0.3,42-36,35-49
18,19.0,Blue Jays,AL,162.0,76,86,0.469,4.3,4.8,-0.6,42-39,34-47
19,20.0,Pirates,NL,162.0,75,87,0.463,4.1,4.5,-0.4,44-37,31-50
20,21.0,Athletics,AL,162.0,75,87,0.463,4.6,5.1,-0.5,46-35,29-52
21,22.0,Orioles,AL,162.0,75,87,0.463,4.6,5.2,-0.6,46-35,29-52
22,23.0,Braves,NL,162.0,72,90,0.444,4.5,5.1,-0.5,37-44,35-46
23,24.0,Padres,NL,162.0,71,91,0.438,3.7,5.0,-1.3,43-38,28-53
24,25.0,Mets,NL,162.0,70,92,0.432,4.5,5.3,-0.8,37-44,33-48
25,26.0,Reds,NL,162.0,68,94,0.420,4.6,5.4,-0.7,39-42,29-52
26,27.0,White Sox,AL,162.0,67,95,0.414,4.4,5.1,-0.7,39-42,28-53
27,28.0,Phillies,NL,162.0,66,96,0.407,4.3,4.8,-0.6,39-42,27-54
28,29.0,Tigers,AL,162.0,64,98,0.395,4.5,5.5,-1.0,34-47,30-51
29,30.0,Giants,NL,162.0,64,98,0.395,3.9,4.8,-0.8,38-43,26-55
30,NaN,Avg,NaN,NaN,81,81,0.500,4.6,4.6,NaN,43-37,37-43

From this dataset I'll be taking the team name, Wins, Losses, and their Home Record. The Away record is not necessary because we are looking at data relating to each team's stadium and those are games that are played at home, in said stadium. This will be a good reference point to see how a team plays at home as opposed to the entire season record. The away record would be a good reference point as well, but is just not as necessary and would not narrow in on the purpose of this project.

In [52]:
team_stats_df = stats[['Team', 'W', 'L', 'Home']]

Below is each team's 2017 attendance data including a few other factors for batters and pitchers. The previous ESPN dataset included the seating capacity of each stadium, but this dataset below includes the overall sum of attendance of games for the 2017 season. That only includes each team's home games, a total of 81 games. It also includes the average attendance per game attended at each home game for a team at their own stadium.</p>

The Payroll column is one worth noting for a few reasons. This number represents the overall yearly payroll that a team needs to pay its players. The numbers vary considerably and would provide some insight into the team's overall success in that year. The Time played column was one that seemed like it might provide some sort of insight into fan enjoyment, but the average time of a game was so similar across the entire league that it would not provide any other meaningful analysis.

In [53]:
team_attendance = '3-Baseball-reference-team-data/Team_attendance_2017.CSV'

In [54]:
attendance = pd.read_csv(team_attendance)

In [55]:
attendance

,Team,Attendance,Attend/G,BPF (Batting Park Factor - > 100 favors batters),PPF (Pitching Park Factor - > 100 favors batters),Est. Payroll,Time
0,Diamondbacks,2134375,26350,108,108,"$106,580,200",3:09
1,Braves,2505252,30929,100,100,"$119,705,250",3:04
2,Orioles,2028424,25042,97,99,"$161,621,633",3:09
3,Red Sox,2917678,36021,105,104,"$200,550,750",3:20
4,Cubs,3199562,39501,103,101,"$177,210,667",3:09
5,White Sox,1629470,20117,97,98,"$97,842,000",3:10
6,Reds,1836917,22678,101,103,"$79,315,786",3:03
7,Indians,2048138,25286,106,104,"$114,427,167",3:06
8,Rockies,2953650,36465,117,116,"$106,650,000",3:11
9,Tigers,2321599,28662,101,102,"$118,375,600",3:14
10,Astros,2403671,29675,94,93,"$157,656,400",3:10
11,Royals,2220370,27412,101,102,"$127,555,817",3:02
12,Angels,3019585,37279,97,97,"$181,125,500",3:11
13,Dodgers,3765856,46492,96,95,"$201,466,263",3:11
14,Marlins,1583014,20295,90,91,"$111,591,100",3:06
15,Brewers,2627705,31282,101,101,"$68,439,300",3:10
16,Twins,2051279,25324,100,101,"$103,932,500",3:11
17,Mets,2460622,30378,94,95,"$176,615,252",3:09
18,Yankees,3154938,38950,104,103,"$182,424,700",3:16
19,Athletics,1475721,18219,95,95,"$51,560,000",3:09
20,Phillies,1905354,23523,98,99,"$86,276,000",3:08
21,Pirates,1919447,23697,97,98,"$102,953,333",3:07
22,Padres,2138491,26401,95,97,"$49,248,767",3:00
23,Mariners,2135445,26364,95,95,"$172,438,700",3:06
24,Giants,3303652,40786,98,98,"$177,399,833",3:04
25,Cardinals,3448337,42572,98,97,"$129,652,933",3:04
26,Rays,1253619,15477,96,96,"$79,473,033",3:13
27,Rangers,2507760,30960,110,110,"$207,326,274",3:13
28,Blue Jays,3203886,39554,101,102,"$158,890,575",3:09
29,Nationals,2524980,31173,104,103,"$175,587,301",3:09

In [56]:
team_attendance_df = attendance[['Team', 'Attendance', 'Attend/G']]

#### Baseball-reference Merging

For the final dataset, the necessary columns of data needed include the team's record and only their Home record to directly compare to their attendance and attendance per game statistics. This currently still reflects a rank of the team with the best record to the worst record, and that's largely unimportant for this project. </p>

The file below labeled team_data_df now reflects both intermediate datasets taken from baseball-reference.com combined into one dataset.

In [57]:
df_list = [ESPN_df, team_stats_df, team_attendance_df]

In [58]:
team_data_df = pd.merge(team_stats_df, team_attendance_df, on=['Team'])

In [59]:
team_data_df

            Team    W   L   Home  Attendance  Attend/G
0        Dodgers  104  58  57-24     3765856     46492
1        Indians  102  60  49-32     2048138     25286
2         Astros  101  61  48-33     2403671     29675
3      Nationals   97  65  47-34     2524980     31173
4        Red Sox   93  69  48-33     2917678     36021
5   Diamondbacks   93  69  52-29     2134375     26350
6           Cubs   92  70  48-33     3199562     39501
7        Yankees   91  71  51-30     3154938     38950
8        Rockies   87  75  46-35     2953650     36465
9        Brewers   86  76  46-38     2627705     31282
10         Twins   85  77  41-40     2051279     25324
11     Cardinals   83  79  44-37     3448337     42572
12        Angels   80  82  43-38     3019585     37279
13        Royals   80  82  43-38     2220370     27412
14          Rays   80  82  42-39     1253619     15477
15      Mariners   78  84  40-41     2135445     26364
16       Rangers   78  84  41-40     2507760     30960
17       Marlins   77  85  42-36     1583014     20295
18     Blue Jays   76  86  42-39     3203886     39554
19       Pirates   75  87  44-37     1919447     23697
20     Athletics   75  87  46-35     1475721     18219
21       Orioles   75  87  46-35     2028424     25042
22        Braves   72  90  37-44     2505252     30929
23        Padres   71  91  43-38     2138491     26401
24          Mets   70  92  37-44     2460622     30378
25          Reds   68  94  39-42     1836917     22678
26     White Sox   67  95  39-42     1629470     20117
27      Phillies   66  96  39-42     1905354     23523
28        Tigers   64  98  34-47     2321599     28662
29        Giants   64  98  38-43     3303652     40786

In [60]:
combined_data = pd.merge(ESPN_df, team_data_df, left_on='Team', right_on='Team')
# result.set_index('MLB Team', inplace=True) This can rename the index for future use once the final dataset is done

Here is a combination of all of the data merged into one so far. It includes the health code data with team statistics. It used the team name as a point of comparison to line up the data correctly so that the W-L record and attendance data corresponded to the correct team and stadium. Now it is back to no particular order from top to bottom, though now we can see the critical health code violation scores directly next to a team's 2017 record.

In [61]:
combined_data

,Team,Stadium,Seating Capacity,Location,Critical Score in percentage,W,L,Home,Attendance,Attend/G
0,Diamondbacks,Chase Field,48519,"Phoenix, Arizona",34.38,93,69,52-29,2134375,26350
1,Padres,Petco Park,40162,"San Diego, California",16.67,71,91,43-38,2138491,26401
2,Angels,Angel Stadium,45050,"Anaheim, California",19.40,80,82,43-38,3019585,37279
3,Athletics,Oakland-Alameda County Coliseum,63024,"Oakland, California",22.69,75,87,46-35,1475721,18219
4,Giants,AT&T Park,41915,"San Francisco, California",24.69,64,98,38-43,3303652,40786
5,Dodgers,Dodger Stadium,56000,"Los Angeles, California",31.94,104,58,57-24,3765856,46492
6,Rockies,Coors Field,50144,"Denver, Colorado",71.96,87,75,46-35,2953650,36465
7,Nationals,Nationals Park,41546,"Washington, District of Columbia",51.85,97,65,47-34,2524980,31173
8,Marlins,Marlins Park,37442,"Miami, Florida",14.29,77,85,42-36,1583014,20295
9,Rays,Tropicana Field,31042,"Tampa, Florida",31.65,80,82,42-39,1253619,15477
10,Braves,SunTrust Park,41149,"Atlanta, Georgia",33.73,72,90,37-44,2505252,30929
11,Cubs,Wrigley Field,42495,"Chicago, Illinois",30.77,92,70,48-33,3199562,39501
12,White Sox,Guaranteed Rate Field,40615,"Chicago, Illinois",55.88,67,95,39-42,1629470,20117
13,Red Sox,Fenway Park,37755,"Boston, Massachusetts",17.24,93,69,48-33,2917678,36021
14,Orioles,Oriole Park at Camden Yards,45971,"Baltimore, Maryland",15.63,75,87,46-35,2028424,25042
15,Tigers,Comerica Park,41083,"Detroit, Michigan",40.38,64,98,34-47,2321599,28662
16,Twins,Target Field,39504,"Minneapolis, Minnesota",50.44,85,77,41-40,2051279,25324
17,Cardinals,Busch Stadium,43975,"St. Louis, Missouri",22.58,83,79,44-37,3448337,42572
18,Royals,Kauffman Stadium,37903,"Kansas City, Missouri",41.51,80,82,43-38,2220370,27412
19,Mets,Citi Field,41922,"Queens, New York",55.17,70,92,37-44,2460622,30378
20,Yankees,Yankee Stadium,56886,"Bronx, New York",79.07,91,71,51-30,3154938,38950
21,Indians,Progressive Field,35041,"Cleveland, Ohio",9.02,102,60,49-32,2048138,25286
22,Reds,Great American Ball Park,42036,"Cincinnati, Ohio",50.00,68,94,39-42,1836917,22678
23,Blue Jays,Rogers Centre,49282,"Toronto, Ontario",49.21,76,86,42-39,3203886,39554
24,Pirates,PNC Park,38496,"Pittsburgh, Pennsylvania",27.69,75,87,44-37,1919447,23697
25,Phillies,Citizens Bank Park,43651,"Philadelphia, Pennsylvania",42.57,66,96,39-42,1905354,23523
26,Astros,Minute Maid Park,40963,"Houston, Texas",28.57,101,61,48-33,2403671,29675
27,Rangers,Globe Life Park in Arlington,48114,"Arlington, Texas",71.15,78,84,41-40,2507760,30960
28,Mariners,Safeco Field,47943,"Seattle, Washington",21.74,78,84,40-41,2135445,26364
29,Brewers,Miller Park,41900,"Milwaukee, Wisconsin",8.70,86,76,46-38,2627705,31282

### Fan Review Scores

These review scores were compiled from places like Google and Yelp from user reviews and put into four main categories. This dataset took the average score of the four categories to get an aggregate review score. Most average scores come out to about the same except for about the bottom 4 or 5. The average scores look nominally different when lined up in descending order, but once they are combined into the larger dataset will prove useful for further analysis.

In [62]:
review_scores = '4-Voice-of-Fan-Report-2017/Voice-of-fan-report-2017-averages.CSV'

In [63]:
scores = pd.read_csv(review_scores)

In [64]:
scores

,Stadium,Facility,Family,Fan Experience,Food and Drink,Average Score
0,Oriole Park at Camden Yards,0.757803,0.752108,0.873283,0.687303,0.767624
1,PNC Park,0.743191,0.786538,0.926634,0.607895,0.766065
2,AT&T Park,0.693962,0.742471,0.918825,0.696970,0.763057
3,Safeco Field,0.702100,0.736655,0.853112,0.694370,0.746559
4,Kauffman Stadium,0.730978,0.771020,0.873270,0.549474,0.731185
5,Great American Ball Park,0.717445,0.730711,0.887528,0.588235,0.730980
6,Progressive Field,0.713092,0.699588,0.842742,0.666667,0.730522
7,Coors Field,0.636495,0.766744,0.880915,0.626043,0.727549
8,Petco Park,0.630174,0.720792,0.819393,0.678632,0.712248
9,Citizens Bank Park,0.674731,0.609562,0.854957,0.699583,0.709708
10,Busch Stadium,0.744059,0.720755,0.893911,0.471616,0.707585
11,Comerica Park,0.653085,0.751278,0.820211,0.604790,0.707341
12,Miller Park,0.559290,0.750820,0.814588,0.698026,0.705681
13,Globe Life Park,0.710027,0.767773,0.816216,0.527187,0.705301
14,Chase Field,0.691044,0.705714,0.778833,0.538860,0.678613
15,Target Field,0.728507,0.388889,0.812865,0.728223,0.664621
16,Citi Field,0.569429,0.624021,0.795670,0.618954,0.652018
17,Angel Stadium,0.582222,0.761290,0.753766,0.448095,0.636343
18,Minute Maid Park,0.599702,0.626374,0.810563,0.443742,0.620095
19,Guaranteed Rate Field,0.413428,0.549020,0.719064,0.749623,0.607783
20,Fenway Park,0.507911,0.699333,0.805107,0.396061,0.602103
21,Tropicana Field,0.570652,0.692615,0.659910,0.411371,0.583637
22,Nationals Park,0.469043,0.556522,0.746806,0.457818,0.557547
23,Marlins Park,0.470109,0.479224,0.727835,0.474614,0.537945
24,Wrigley Field,0.367684,0.597533,0.781117,0.370629,0.529241
25,Yankee Stadium,0.505774,0.442308,0.681514,0.337500,0.491774
26,Dodger Stadium,0.072146,0.603896,0.690888,0.323890,0.422705
27,Rogers Centre,0.568042,0.426791,0.706195,-0.080000,0.405257
28,SunTrust Park,0.116279,0.515571,0.612903,0.290780,0.383883
29,Oakland-Alameda County Coliseum,-0.031818,0.507937,0.434921,-0.051136,0.214976

The only score that's vitally needed for the final dataset is the average score of the four categories from the dataset above. For future use, you could take the fan experience score or the facilities score to compare it with weather data, but the final dataset is looked at the 2017 season as a whole in comparison to overall fan experience, average monthly weather, and team statistics.

In [65]:
review_scores_df = scores[['Stadium', 'Average Score']]
review_scores_df

                            Stadium  Average Score
0       Oriole Park at Camden Yards       0.767624
1                          PNC Park       0.766065
2                         AT&T Park       0.763057
3                      Safeco Field       0.746559
4                  Kauffman Stadium       0.731185
5          Great American Ball Park       0.730980
6                 Progressive Field       0.730522
7                       Coors Field       0.727549
8                        Petco Park       0.712248
9                Citizens Bank Park       0.709708
10                    Busch Stadium       0.707585
11                    Comerica Park       0.707341
12                      Miller Park       0.705681
13                  Globe Life Park       0.705301
14                      Chase Field       0.678613
15                     Target Field       0.664621
16                       Citi Field       0.652018
17                    Angel Stadium       0.636343
18                 Minute Maid Park       0.620095
19            Guaranteed Rate Field       0.607783
20                      Fenway Park       0.602103
21                  Tropicana Field       0.583637
22                   Nationals Park       0.557547
23                     Marlins Park       0.537945
24                    Wrigley Field       0.529241
25                   Yankee Stadium       0.491774
26                   Dodger Stadium       0.422705
27                    Rogers Centre       0.405257
28                    SunTrust Park       0.383883
29  Oakland-Alameda County Coliseum       0.214976

### Weather Data

The weather data below looks at average temperature and total precipitation through the months of a baseball season, May through October. It then compares that average to the average data from 1981-2010 and gives a comparison to that aggregate.

In [66]:
weather_temp = '6-NOAA-Weather/stadium_temp_list.csv'

In [67]:
temp = pd.read_csv(weather_temp)

This dataset is the average monthly temperature for each city that a baseball stadium is located within. The anomalies and previous 30 year average provide their own analysis within this dataset to consider, but the final dataset is mainly concerned with 2017.

In [68]:
temp

,Location,Average Temperature May-Oct 2017,1981-2010 Average,Anomaly
0,"Phoenix, Arizona",89.0,87.5,1.5
1,"Anaheim, California",71.7,69.6,2.1
2,"Los Angeles, California",69.4,66.7,2.7
3,"Oakland, California",68.5,66.5,2.0
4,"San Diego, California",70.4,68.3,2.1
5,"San Francisco, California",64.7,62.4,2.3
6,"Denver, Colorado",64.3,63.8,0.5
7,"Miami, Florida",82.7,81.8,0.9
8,"Tampa, Florida",82.4,81.0,1.4
9,"Atlanta, Georgia",74.6,74.5,0.1
10,"Chicago, Illinois",67.2,65.9,1.3
11,"Baltimore, Maryland",69.8,68.8,1.0
12,"Boston, Massachusetts",66.5,64.8,1.7
13,"Detroit, Michigan",66.6,65.3,1.3
14,"Minneapolis, Minnesota",65.4,64.3,1.1
15,"Kansas City, Missouri",69.7,69.8,-0.1
16,"St. Louis, Missouri",73.2,71.7,1.5
17,"Bronx, New York",69.8,68.8,1.0
18,"Queens, New York",71.2,69.8,1.4
19,"Cincinnati, Ohio",68.1,67.8,0.3
20,"Cleveland, Ohio",67.0,65.9,1.1
21,"Toronto, Ontario (Canada)",NaN,NaN,NaN
22,"Philadelphia, Pennsylvania",71.3,69.8,1.5
23,"Pittsburgh, Pennsylvania",66.5,64.7,1.8
24,"Arlington, Texas",77.8,77.7,0.1
25,"Houston, Texas",81.4,80.2,1.2
26,"Seattle, Washington",62.7,61.2,1.5
27,"Milwaukee, Wisconsin",65.3,64.0,1.3
28,"Washington, District of Columbia",73.2,71.9,1.3

In [69]:
temp_df = temp[['Location', 'Average Temperature May-Oct 2017']]
temp_df

                            Location  Average Temperature May-Oct 2017
0                   Phoenix, Arizona                              89.0
1                Anaheim, California                              71.7
2            Los Angeles, California                              69.4
3                Oakland, California                              68.5
4              San Diego, California                              70.4
5          San Francisco, California                              64.7
6                   Denver, Colorado                              64.3
7                     Miami, Florida                              82.7
8                     Tampa, Florida                              82.4
9                   Atlanta, Georgia                              74.6
10                 Chicago, Illinois                              67.2
11               Baltimore, Maryland                              69.8
12             Boston, Massachusetts                              66.5
13                 Detroit, Michigan                              66.6
14            Minneapolis, Minnesota                              65.4
15             Kansas City, Missouri                              69.7
16               St. Louis, Missouri                              73.2
17                   Bronx, New York                              69.8
18                  Queens, New York                              71.2
19                  Cincinnati, Ohio                              68.1
20                   Cleveland, Ohio                              67.0
21         Toronto, Ontario (Canada)                               NaN
22        Philadelphia, Pennsylvania                              71.3
23          Pittsburgh, Pennsylvania                              66.5
24                  Arlington, Texas                              77.8
25                    Houston, Texas                              81.4
26               Seattle, Washington                              62.7
27              Milwaukee, Wisconsin                              65.3
28  Washington, District of Columbia                              73.2

In [70]:
weather_precip = '6-NOAA-Weather/stadium_precip_list.CSV'

In [71]:
precip = pd.read_csv(weather_precip)

Here is the same layout and anomalies but for average monthly precipitation. Once again, we only want the total precipitation for the 2017 months of the baseball season for our final dataset.

In [72]:
precip

,Location,Total Precipitation May-Oct 2017,1981-2010 Average,Anomaly
0,"Phoenix, Arizona",2.34,3.40,-1.06
1,"Anaheim, California",0.68,1.09,-0.41
2,"Los Angeles, California",0.20,1.15,-0.95
3,"Oakland, California",0.35,2.14,-1.79
4,"San Diego, California",1.01,0.96,0.05
5,"San Francisco, California",0.47,1.74,-1.27
6,"Denver, Colorado",10.38,10.29,0.09
7,"Miami, Florida",67.28,46.64,20.64
8,"Tampa, Florida",38.83,32.16,6.67
9,"Atlanta, Georgia",28.59,24.67,3.92
10,"Chicago, Illinois",25.94,22.11,3.83
11,"Baltimore, Maryland",23.69,22.17,1.52
12,"Boston, Massachusetts",21.80,21.26,0.54
13,"Detroit, Michigan",16.52,19.06,-2.54
14,"Minneapolis, Minnesota",24.46,21.46,3.00
15,"Kansas City, Missouri",34.67,26.58,8.09
16,"St. Louis, Missouri",17.40,22.54,-5.14
17,"Bronx, New York",24.87,26.33,-1.46
18,"Queens, New York",23.85,23.86,-0.01
19,"Cincinnati, Ohio",26.81,22.06,4.75
20,"Cleveland, Ohio",20.17,20.95,-0.78
21,"Toronto, Ontario (Canada)",NaN,NaN,NaN
22,"Philadelphia, Pennsylvania",27.13,21.94,5.19
23,"Pittsburgh, Pennsylvania",22.68,20.97,1.71
24,"Arlington, Texas",20.58,20.40,0.18
25,"Houston, Texas",56.15,32.31,23.84
26,"Seattle, Washington",9.23,10.02,-0.79
27,"Milwaukee, Wisconsin",18.31,20.78,-2.47
28,"Washington, District of Columbia",23.87,21.55,2.32

In [73]:
precip_df = precip[['Location', 'Total Precipitation May-Oct 2017']]
precip_df

                            Location  Total Precipitation May-Oct 2017
0                   Phoenix, Arizona                              2.34
1                Anaheim, California                              0.68
2            Los Angeles, California                              0.20
3                Oakland, California                              0.35
4              San Diego, California                              1.01
5          San Francisco, California                              0.47
6                   Denver, Colorado                             10.38
7                     Miami, Florida                             67.28
8                     Tampa, Florida                             38.83
9                   Atlanta, Georgia                             28.59
10                 Chicago, Illinois                             25.94
11               Baltimore, Maryland                             23.69
12             Boston, Massachusetts                             21.80
13                 Detroit, Michigan                             16.52
14            Minneapolis, Minnesota                             24.46
15             Kansas City, Missouri                             34.67
16               St. Louis, Missouri                             17.40
17                   Bronx, New York                             24.87
18                  Queens, New York                             23.85
19                  Cincinnati, Ohio                             26.81
20                   Cleveland, Ohio                             20.17
21         Toronto, Ontario (Canada)                               NaN
22        Philadelphia, Pennsylvania                             27.13
23          Pittsburgh, Pennsylvania                             22.68
24                  Arlington, Texas                             20.58
25                    Houston, Texas                             56.15
26               Seattle, Washington                              9.23
27              Milwaukee, Wisconsin                             18.31
28  Washington, District of Columbia                             23.87

In [74]:
weather_df = pd.merge(temp_df, precip_df, on='Location')

Now we have a dataset with the average monthly temperate and total monthly precipitation for the 2017 baseball season.

In [75]:
weather_df

,Location,Average Temperature May-Oct 2017,Total Precipitation May-Oct 2017
0,"Phoenix, Arizona",89.0,2.34
1,"Anaheim, California",71.7,0.68
2,"Los Angeles, California",69.4,0.20
3,"Oakland, California",68.5,0.35
4,"San Diego, California",70.4,1.01
5,"San Francisco, California",64.7,0.47
6,"Denver, Colorado",64.3,10.38
7,"Miami, Florida",82.7,67.28
8,"Tampa, Florida",82.4,38.83
9,"Atlanta, Georgia",74.6,28.59
10,"Chicago, Illinois",67.2,25.94
11,"Baltimore, Maryland",69.8,23.69
12,"Boston, Massachusetts",66.5,21.80
13,"Detroit, Michigan",66.6,16.52
14,"Minneapolis, Minnesota",65.4,24.46
15,"Kansas City, Missouri",69.7,34.67
16,"St. Louis, Missouri",73.2,17.40
17,"Bronx, New York",69.8,24.87
18,"Queens, New York",71.2,23.85
19,"Cincinnati, Ohio",68.1,26.81
20,"Cleveland, Ohio",67.0,20.17
21,"Toronto, Ontario (Canada)",NaN,NaN
22,"Philadelphia, Pennsylvania",71.3,27.13
23,"Pittsburgh, Pennsylvania",66.5,22.68
24,"Arlington, Texas",77.8,20.58
25,"Houston, Texas",81.4,56.15
26,"Seattle, Washington",62.7,9.23
27,"Milwaukee, Wisconsin",65.3,18.31
28,"Washington, District of Columbia",73.2,23.87

In [76]:
combined_data_2 = pd.merge(combined_data, weather_df, left_on=['Location'], right_on=['Location'])

Now we'll combine the previously compiled dataset with the combined weather data. The weather averages will be added to the far right side of the data table next to attendance data.

In [87]:
combined_data_2

,Team,Stadium,Seating Capacity,Location,Critical Score in percentage,W,L,Home,Attendance,Attend/G,Average Temperature May-Oct 2017,Total Precipitation May-Oct 2017
0,Diamondbacks,Chase Field,48519,"Phoenix, Arizona",34.38,93,69,52-29,2134375,26350,89.0,2.34
1,Padres,Petco Park,40162,"San Diego, California",16.67,71,91,43-38,2138491,26401,70.4,1.01
2,Angels,Angel Stadium,45050,"Anaheim, California",19.40,80,82,43-38,3019585,37279,71.7,0.68
3,Athletics,Oakland-Alameda County Coliseum,63024,"Oakland, California",22.69,75,87,46-35,1475721,18219,68.5,0.35
4,Giants,AT&T Park,41915,"San Francisco, California",24.69,64,98,38-43,3303652,40786,64.7,0.47
5,Dodgers,Dodger Stadium,56000,"Los Angeles, California",31.94,104,58,57-24,3765856,46492,69.4,0.20
6,Rockies,Coors Field,50144,"Denver, Colorado",71.96,87,75,46-35,2953650,36465,64.3,10.38
7,Nationals,Nationals Park,41546,"Washington, District of Columbia",51.85,97,65,47-34,2524980,31173,73.2,23.87
8,Marlins,Marlins Park,37442,"Miami, Florida",14.29,77,85,42-36,1583014,20295,82.7,67.28
9,Rays,Tropicana Field,31042,"Tampa, Florida",31.65,80,82,42-39,1253619,15477,82.4,38.83
10,Braves,SunTrust Park,41149,"Atlanta, Georgia",33.73,72,90,37-44,2505252,30929,74.6,28.59
11,Cubs,Wrigley Field,42495,"Chicago, Illinois",30.77,92,70,48-33,3199562,39501,67.2,25.94
12,White Sox,Guaranteed Rate Field,40615,"Chicago, Illinois",55.88,67,95,39-42,1629470,20117,67.2,25.94
13,Red Sox,Fenway Park,37755,"Boston, Massachusetts",17.24,93,69,48-33,2917678,36021,66.5,21.80
14,Orioles,Oriole Park at Camden Yards,45971,"Baltimore, Maryland",15.63,75,87,46-35,2028424,25042,69.8,23.69
15,Tigers,Comerica Park,41083,"Detroit, Michigan",40.38,64,98,34-47,2321599,28662,66.6,16.52
16,Twins,Target Field,39504,"Minneapolis, Minnesota",50.44,85,77,41-40,2051279,25324,65.4,24.46
17,Cardinals,Busch Stadium,43975,"St. Louis, Missouri",22.58,83,79,44-37,3448337,42572,73.2,17.40
18,Royals,Kauffman Stadium,37903,"Kansas City, Missouri",41.51,80,82,43-38,2220370,27412,69.7,34.67
19,Mets,Citi Field,41922,"Queens, New York",55.17,70,92,37-44,2460622,30378,71.2,23.85
20,Yankees,Yankee Stadium,56886,"Bronx, New York",79.07,91,71,51-30,3154938,38950,69.8,24.87
21,Indians,Progressive Field,35041,"Cleveland, Ohio",9.02,102,60,49-32,2048138,25286,67.0,20.17
22,Reds,Great American Ball Park,42036,"Cincinnati, Ohio",50.00,68,94,39-42,1836917,22678,68.1,26.81
23,Pirates,PNC Park,38496,"Pittsburgh, Pennsylvania",27.69,75,87,44-37,1919447,23697,66.5,22.68
24,Phillies,Citizens Bank Park,43651,"Philadelphia, Pennsylvania",42.57,66,96,39-42,1905354,23523,71.3,27.13
25,Astros,Minute Maid Park,40963,"Houston, Texas",28.57,101,61,48-33,2403671,29675,81.4,56.15
26,Rangers,Globe Life Park in Arlington,48114,"Arlington, Texas",71.15,78,84,41-40,2507760,30960,77.8,20.58
27,Mariners,Safeco Field,47943,"Seattle, Washington",21.74,78,84,40-41,2135445,26364,62.7,9.23
28,Brewers,Miller Park,41900,"Milwaukee, Wisconsin",8.70,86,76,46-38,2627705,31282,65.3,18.31

### Final dataset

The final dataset now just needs to add in the average review score. The cell below combines the previously combined data with the average review scores with the stadium name as the constant to line up the data correctly. </p>

The index has also been changed so that instead of 0-29 it now is the stadium name so that the main point of reference for each row of data is for the stadium.

In [88]:
baseball_stadium_data = pd.merge(combined_data_2, review_scores_df, left_on=['Stadium'], right_on=['Stadium'])
baseball_stadium_data.set_index('Stadium', inplace=True)

The cell below renames two columns for clarity. First the Critical Score in percentage from the ESPN health code violations dataset made sense within the context of that dataset, but how now been changed to Critical Health Code Violation Percentage. The Average Score column from has also been renamed to Average Online Review Score.

In [89]:
baseball_stadium_data.rename(columns = {'Critical Score in percentage' : 'Critical Health Code Violation Percentage', 'Average Score' : 'Average Online Review Score'}, inplace = True)

This final dataset below reflects the combination of data on a baseball team's win/loss record, their home record, and attendance data. It then mashes that with general information about the team name and location with average temperature and precipitation data. </p>

The dataset also includes a Critical Health Code Violation Percentage rate. This number is calculated based on the number of critical health code violations found per inspection at a stadium throughout the 2017 season. The breakdown of the specific violations found and total number of health code inspections done can be found above in the ESPN section. </p>

The Average Online Review Score is based on a -1 to +1 scale of review sentiment. +1 being the most positive and -1 being the most negative. In general, these scores did not reflected any major differences between fan sentiment among the 30 baseball stadiums.

In [90]:
baseball_stadium_data

,Team,Seating Capacity,Location,Critical Health Code Violation Percentage,W,L,Home,Attendance,Attend/G,Average Temperature May-Oct 2017,Total Precipitation May-Oct 2017,Average Online Review Score
Stadium,,,,,,,,,,,,
Chase Field,Diamondbacks,48519,"Phoenix, Arizona",34.38,93,69,52-29,2134375,26350,89.0,2.34,0.678613
Petco Park,Padres,40162,"San Diego, California",16.67,71,91,43-38,2138491,26401,70.4,1.01,0.712248
Angel Stadium,Angels,45050,"Anaheim, California",19.40,80,82,43-38,3019585,37279,71.7,0.68,0.636343
Oakland-Alameda County Coliseum,Athletics,63024,"Oakland, California",22.69,75,87,46-35,1475721,18219,68.5,0.35,0.214976
AT&T Park,Giants,41915,"San Francisco, California",24.69,64,98,38-43,3303652,40786,64.7,0.47,0.763057
Dodger Stadium,Dodgers,56000,"Los Angeles, California",31.94,104,58,57-24,3765856,46492,69.4,0.20,0.422705
Coors Field,Rockies,50144,"Denver, Colorado",71.96,87,75,46-35,2953650,36465,64.3,10.38,0.727549
Nationals Park,Nationals,41546,"Washington, District of Columbia",51.85,97,65,47-34,2524980,31173,73.2,23.87,0.557547
Marlins Park,Marlins,37442,"Miami, Florida",14.29,77,85,42-36,1583014,20295,82.7,67.28,0.537945
Tropicana Field,Rays,31042,"Tampa, Florida",31.65,80,82,42-39,1253619,15477,82.4,38.83,0.583637
SunTrust Park,Braves,41149,"Atlanta, Georgia",33.73,72,90,37-44,2505252,30929,74.6,28.59,0.383883
Wrigley Field,Cubs,42495,"Chicago, Illinois",30.77,92,70,48-33,3199562,39501,67.2,25.94,0.529241
Guaranteed Rate Field,White Sox,40615,"Chicago, Illinois",55.88,67,95,39-42,1629470,20117,67.2,25.94,0.607783
Fenway Park,Red Sox,37755,"Boston, Massachusetts",17.24,93,69,48-33,2917678,36021,66.5,21.80,0.602103
Oriole Park at Camden Yards,Orioles,45971,"Baltimore, Maryland",15.63,75,87,46-35,2028424,25042,69.8,23.69,0.767624
Comerica Park,Tigers,41083,"Detroit, Michigan",40.38,64,98,34-47,2321599,28662,66.6,16.52,0.707341
Target Field,Twins,39504,"Minneapolis, Minnesota",50.44,85,77,41-40,2051279,25324,65.4,24.46,0.664621
Busch Stadium,Cardinals,43975,"St. Louis, Missouri",22.58,83,79,44-37,3448337,42572,73.2,17.40,0.707585
Kauffman Stadium,Royals,37903,"Kansas City, Missouri",41.51,80,82,43-38,2220370,27412,69.7,34.67,0.731185
Citi Field,Mets,41922,"Queens, New York",55.17,70,92,37-44,2460622,30378,71.2,23.85,0.652018
Yankee Stadium,Yankees,56886,"Bronx, New York",79.07,91,71,51-30,3154938,38950,69.8,24.87,0.491774
Progressive Field,Indians,35041,"Cleveland, Ohio",9.02,102,60,49-32,2048138,25286,67.0,20.17,0.730522
Great American Ball Park,Reds,42036,"Cincinnati, Ohio",50.00,68,94,39-42,1836917,22678,68.1,26.81,0.730980
PNC Park,Pirates,38496,"Pittsburgh, Pennsylvania",27.69,75,87,44-37,1919447,23697,66.5,22.68,0.766065
Citizens Bank Park,Phillies,43651,"Philadelphia, Pennsylvania",42.57,66,96,39-42,1905354,23523,71.3,27.13,0.709708
Minute Maid Park,Astros,40963,"Houston, Texas",28.57,101,61,48-33,2403671,29675,81.4,56.15,0.620095
Safeco Field,Mariners,47943,"Seattle, Washington",21.74,78,84,40-41,2135445,26364,62.7,9.23,0.746559
Miller Park,Brewers,41900,"Milwaukee, Wisconsin",8.70,86,76,46-38,2627705,31282,65.3,18.31,0.705681

Some hand editing had to be done to get the full 30 on the final dataset. Things like specific names of locations (i.e. St. Petersburg, FL was changed to Tampa, FL where the Tampa Bay Rays stadium is located) or slight stadium name changes.

In [91]:
baseball_stadium_data.to_csv('baseball_stadium_data_dataset.csv')